<!--
p.imagetop {
position: fixed;
bottom: 10px;
left: 10px;
z-index: 100;
width: 40px;  /* 50% */
height: 40px;
overflow: hidden;
}
p.imagetop a {
text-decoration: none;
display: block;
width: 80px; /* 100%  */
}
p.imagetop a img {
border: 0;
}
p.imagetop a:hover {
margin-left: -40px; /* 50% */
}

div.geniehidden {
position: relative;
/*bottom: 590px;
right: -317px;*/
bottom: 605px;
right: 1024px;
z-index: 100;
width: 170px;
height: 22px;
overflow: hidden;
text-align: center;
background-image: url(../image/skillname.png);
}

div.ghost {
position: relative;
bottom: 0px;
right: 0px;
z-index: -1;
width: 128px;
height: 128px;
overflow: visible;
text-align: center;
background-image: url(../image/Ghostview2.png);
}

div.snow1 {
position: relative;
bottom: 0px;
right: 0px;
z-index: 150;
width: 3px;
height: 3px;
overflow: visible;
text-align: center;
background-image: url(../image/snow1.png);
}

div.snow2 {
position: relative;
bottom: 0px;
right: 0px;
z-index: 150;
width: 6px;
height: 6px;
overflow: visible;
text-align: center;
background-image: url(../image/snow2.png);
}

div.snow3 {
position: relative;
bottom: 0px;
right: 0px;
z-index: 150;
width: 10px;
height: 10px;
overflow: visible;
text-align: center;
background-image: url(../image/snow3.png);
}

div#menu2 {
position: fixed;
bottom: 0px;
right: 10px;
text-align: center;
/*width: 220px;*/
z-index: 100;
}

div#menu2 ul li {
list-style: none;
height: 100px;
float: left;
}

div#menu {
font-weight: bold;
width: 810px;
margin-left: auto;
margin-right: auto;
text-align: center;
z-index: 100;
}
 
div#menu a {
display: block;
color: black;
text-decoration: none ;
background: url(../image/menu.png) no-repeat 0px 0px ;
line-height: 25px;
}

div#menu ul li {
list-style: none;
width: 120px;
height: 25px;
/*border: white 1px solid;*/
/*padding: 4px 0 4px 8px;*/
float: left;
}

div#menu ul ul {
position: relative;
top: -5px;
left: 15px;
display: none;
z-index: 120;
}

div#menu a:hover {
/*color: green; /*ffcb4a;*/ 
background: url(../image/menu.png) no-repeat 0px -25px ;
}
div#menu ul li:hover ul {display: block;}
div#menu ul li:hover ul li ul {display: none;}
div#menu ul li ul li:hover ul {display: block;}
div#menu ul li ul li:hover ul li ul {display: none;}
div#menu ul li ul li ul li:hover ul {display: block;}
-->